
  body {
    background-color: rgb(199, 156, 156);
  }
  header {
    /* background-color: #666; */
    padding: 25px;
    text-align: center;
    font-size: 35px;
    color: black;
    height: 100px;
  }
  #home {
    float: left;
  }

section {
    float: right;
    margin-top:0px;
    padding: 20px;
    width: 85%;
    /* background-color: rgb(180, 180, 241); */
    height: 600px; 
     } 

    h3 {
      margin-top: 0px;
      border-top: 0px;
      padding-top: 0px;

    }


  nav {
    float: left;
    width: 15%;
    height: 600px;
    /* background-color: chartreuse; */
    border-right: solid;

  }
